<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Interface</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="bg-gray-100 h-screen flex flex-col">

    <header class="bg-white shadow-sm p-4 sticky top-0 z-10">
        <div class="max-w-md mx-auto relative">
            <form method="get">
                <input type="text" placeholder="Foydalanuvchilarni izlash..."  name="username"
                class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 bg-gray-50 text-sm">
                <div class="absolute left-3 top-2.5 text-gray-400">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </form>
        </div>
    </header>
    

    <main class="flex-1 overflow-y-auto">
        
        <div class="max-w-md mx-auto bg-white min-h-full">
            {% if searched_users %}
        <div class="bg-blue-50/50">
            <h2 class="p-4 text-blue-600 font-bold uppercase text-[10px] tracking-wider border-b">Topilgan foydalanuvchilar</h2>
            <div class="divide-y divide-gray-100">
                {% for user in searched_users %}
                <a href="{% url 'start_chat' user.id %}"> <div class="flex items-center p-4 hover:bg-blue-100 transition">
                        <img src="https://ui-avatars.com/api/?name={{ user.username }}&background=0D8ABC&color=fff" 
                             class="w-10 h-10 rounded-full border border-blue-200">
                        <div class="ml-4">
                            <h3 class="font-bold text-gray-800 text-sm">{{ user.username }}</h3>
                            <p class="text-[10px] text-blue-500">Suhbatni boshlash</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        {% elif request.GET.username %}
        
        {% endif %}
            <h2 class="p-4 text-gray-500 font-semibold uppercase text-[10px] tracking-wider border-b">Yozishmalar</h2>
            
            <div class="divide-y divide-gray-100">
                {% for chat in chats %}
                <a href="{% url 'room' room_name=chat.id %}">
                <div class="flex items-center p-4 hover:bg-gray-50 cursor-pointer transition">
                    <div class="relative">
                        {% if chat.owner_user == request.user %}
                        <img src="https://ui-avatars.com/api/?name={{chat.friend_user.username}}&background=random" 
                             class="w-12 h-12 rounded-full border" alt="User">
                             {% else %}
                             <img src="https://ui-avatars.com/api/?name={{chat.owner_user.username}}&background=random" 
                             class="w-12 h-12 rounded-full border" alt="User">
                             {% endif %}
                        <span class="absolute bottom-0 right-0 w-3 h-3 bg-green-500 border-2 border-white rounded-full"></span>
                    </div>
                    <div class="ml-4 flex-1">
                        <div class="flex justify-between items-center">
                            {% if chat.owner_user == request.user %}
                            <h3 class="font-bold text-gray-800 text-sm">{{chat.friend_user}}</h3>
                            {% else %}
                            <h3 class="font-bold text-gray-800 text-sm">{{chat.owner_user}}</h3>
                            {% endif %}
                            {% if chat.chatting_messages.exists %}
                            <span class="text-[10px] text-gray-400">{{chat.chatting_messages.last.created_at.time}}</span>
                            {% else %}
                            <span class="text-[10px] text-gray-400">00:00</span>
                            {% endif %}

                        </div>
                        {% if chat.chatting_messages.exists %}
                        <p class="text-xs text-gray-500 truncate w-48">{{chat.chatting_messages.last.message}}</p>
                        {% else %}
                        <p class="text-xs text-gray-500 truncate w-48">Xozircha xabarlar mavjud emas!</p>
                        {% endif %}
                    </div>
                </div>
                </a>
                {% endfor %}

            </div>
        </div>
    </main>

    <nav class="bg-white border-t flex justify-around p-3 text-gray-500">
        <a href="#" class="text-blue-500 text-center flex flex-col items-center">
            <i class="fa-solid fa-message text-xl"></i>
            <span class="text-[10px] mt-1">Chatlar</span>
        </a>
        <a href="#" class="text-center flex flex-col items-center">
            <i class="fa-solid fa-user text-xl"></i>
            <span class="text-[10px] mt-1">Profil</span>
        </a>
    </nav>

</body>
</html>